body {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

.hero-container {
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    background: #070211 0%, rgb(7, 2, 17) 100%;
    max-width: 100vw;
    max-height: 100vh;
}

.hero-content {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 100%;
    height: 100%;
}

.happy {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Merriweather';
}

.text-h {
    padding: 177px 530px 0px 530px;
}

.party {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    font-family: 'Merriweather';
}

.party-text {
    padding: 0px 344px 177px 344px;
}

.main-h {
    /* margin: 120px 460px 120px 460px; */
    text-align: center;
    margin-bottom: 50px;
}

.h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.h5 {
    color: #F00;
    text-align: center;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 10px 0;
}

.h2 {
    color: #070211;
    text-align: center;
    font-family: 'Inter';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.party-container {
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
}

.party-content {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 60px 100px;
    display: flex;
    gap: 20px;
}

.party-heading-title {
    max-width: 700px;
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.party-description {
    max-width: 700px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.party-join-button {
    background: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
}

.party-join-button:hover {
    background: rgb(13, 13, 108);

}

.event-date-container {
    margin-top: 300px;
    width: 1320px;
    height: 482px;
}

.main-h1 {
    padding: 126px 550px 298px 126px;
}

.Welcome {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
}

.btn-red {
    background-color: #F00;
    color: #FFFFFF;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    border-radius: 8px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
}

.span-red {
    color: #F00;
}

.event-date-container {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.coming-section-continer {
    display: flex;
    gap: 100px;
    margin: 80px;
}

.coming-section {
    width: 1000px;
}

.circle-image {
    border: 15px solid red;
    border-radius: 50%;
    padding: 25px;
}

.new-best-offer {
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}

.year-2024 {
    color: #F00;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
}

.coming-soon {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;

}

.coming-soon-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.holiday-offer-h4 {
    color: #070211;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.holiday-offer-h1 {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

.holiday-offer-span {
    color: #F00;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
}

.holiday-offer-p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

/* holiday-offer-images */

.holiday-offer-images {
    background-image: url('../images/Rectangle\ 2.png'), url('../images/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: bottom, right top;
}

.holiday-offer-image-2 {
    position: absolute;
}

.portfolio-continer {
    margin-top: 100px;
}

.gift-text {
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}

.portfolio-text {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
}

.news-letter-continer {
    margin-top: 200px;
    margin-bottom: 200px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.news-img {
    text-align: center;
}

.sub-letter {
    color: #070211;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
}

.news-letter-p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.input-btn {
    text-align: center;
}

.input-btn>input {
    width: 400px;
    height: 70px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    border: none;
}

.input-btn-sub {
    width: 200px;
    height: 70px;
    border-radius: 0 50px 50px 0;
    background-color: #F00;
    border: none;
}

.sub-btn {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
}