body {
    font-family: 'Merriweather', serif;
}

.div-1 {
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    background: #070211 0%, rgba(7, 2, 17, 0.00) 100%;
    max-width: 1320px;
    max-height: 600px;
    margin: 50px 140px 0 140px;
}

.happy {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.text-h {
    padding: 177px 530px 0px 530px;
}

.party {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.party-text {
    padding: 0px 344px 177px 344px;
}
.main-h{
    margin: 120px 460px 0px 460px;
}
.h1{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.h5{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.h2{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}